<div class="row">
	<span id="navIcons">
		<div class="col-sm-1 col-xs-3 bottom-spacing" ng-repeat="icon in $ctrl.icons">
			<a ng-href="{{icon.link}}" target="_blank"><img ng-src="{{icon.img}}" class="nav-icon"></a>
		</div>
	</span>
	<div class="col-sm-8 col-xs-12">
		<ul class="nav nav-pills">
			<li ng-repeat="link in $ctrl.navLinks" role="presentation" class="bg-info" ui-sref-active="active">
				<a ui-sref="{{link.toLowerCase()}}" ui-sref-active="active-color">{{link}}</a>
			</li>
		</ul>
	</div>
</div>
