.experience-header {
    cursor: pointer;
}

.experience-section-header-text {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    text-align: center;
}

.bottom-spacing {
    margin-bottom: 10px;
}

.active-section {
    color: #488c6a;
}
