
.experience-section-header {
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    font-weight: bold;
    padding: 10px;

    .pointer {
        cursor: pointer;
    }
    .small {
        font-size: 1.1em;
    }
    .large {
        font-size: 1.9em;
    }
}

.bottom-spacing {
    margin-bottom: 10px;
}

.active-section {
    color: #488c6a;
}
