<div class="panel panel-default blog-post">
	<div class="panel-heading">
		<h2 class="font-montserrat-bold" ng-bind="$ctrl.header"></h2>
		<h3 class="panel-title" style="font-size: 1em" ng-bind="$ctrl.subheader"></h3>		
	</div>
	<div class="panel-body">
		<blog-post-body template="$ctrl.body"></blog-post-body>
	</div>
	<div class="panel-footer">
		<span ng-repeat="tag in $ctrl.tags">
			<a class="tag" ng-click="$ctrl.goToTag(tag)" ng-bind="tag"></a>
			<span ng-if="!$last">,&nbsp;</span>
		</span>
	</div>
</div>