.recent-post {
	.date {
		font-size: 0.9em;
	}
}
.preview-header {
	color: #333;
}

.blog-post {
	$indent-amt: 25px;
	.header {
		cursor: pointer;
	}
	p {
		text-indent: $indent-amt;
		text-align: justify;
	}
	.tag {
		cursor: pointer;
		font-style: italic;
		font-size: .9em;
	}
	.default-img {
		display: block;
		border: 1px solid black;
		border-radius: 3px;
		margin: 5px 0px;
		margin-left: $indent-amt;
	}
	.well {
		margin-bottom: 5px;
	}
}